.show_items{
  position: relative;
  float: left;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  padding: 8px 8px;
  font-size: 14px;
  min-height: 35px!important;
  border-radius: 4px;
  color: #555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: normal;
  background-color: #fff;
  background-image: linear-gradient(#fff,#f7f7f7);
  width: 100%;
  height: 34px;
}
.show-rule{
  display:block;
}
.hide-rule{
  display:none;
}
.tree-view {
  text-align: left;
  background-color: #fff;
  position: absolute;
  z-index: 10000;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  min-width: 420px;
  margin-right: 30px;
  padding: 10px 5px;
  margin-top: 38px;
}
.card-view{
  overflow: auto;
  max-height: 360px;
}
.list-group-item{
  cursor:pointer;
}
.tree-view::-webkit-scrollbar {
  width: 5px;
}

.tree-view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.tree-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
