<div>
  <div class="show_items" (click)="showRules = !showRules">
    <span></span>
    <span *ngIf="selectedRule" class="no-selection">{{selectedRule.name}}</span>
    <span *ngIf="!selectedRule" class="no-selection">Select Rule</span>
    <i class="fa fa-caret-down pull-right"></i>
  </div>
  <div class="tree-view card" [ngClass]="{'show-rule':showRules,'hide-rule':!showRules}">
    <div class="card-body">
      <input class="form-control form-control-sm" placeholder="Search" [(ngModel)]="searchText"/>
    </div>
    <div class="card-body card-view">
      <ul class="list-group list-group-sm">
        <li *ngFor="let rule of rules | search:searchText"
            [ngClass]="{'list-group-item-info':rule == selectedRule}"
            (click)="select(rule)"
            class="list-group-item list-group-item-sm">{{rule.name}}
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <button class="btn btn-outline-default btn-sm pull-right cursor" (click)="showRules = false">Close</button>
      <button [disabled]="!selectedRule"
              class="btn btn-outline-secondary btn-sm pull-right cursor"
              (click)="update()">Update</button>
    </div>
  </div>
</div>
