.blur{
  opacity:0.5;
  content: "Click to Edit";
  cursor: pointer;
}
.onhover{
  display:none
}

.onhover:hover{
  display:block;
}
.ace_editor {
  font-family:monospace!important
}

#editor{
  position: relative;
  top: -.75rem;
  right: -1.25rem;
  padding: .75rem 1.25rem;
}
.wrap {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  float: left;
}
.active{

}
