<div *ngIf="loading" style="text-align:center">
  <img src="assets/img/balls-3.svg" alt=""><br />
  Loading Function Into Position
</div>
<div *ngIf="!loading">
  <div>
    <app-selector (onRun)="onRun($event)" (onLayoutUpdate)="onLayoutUpdate($event)"></app-selector>
    <app-dashboard *ngIf="show" [parameters]="parameters" [func]="testFunc"></app-dashboard>
  </div>
  <div class="col-sm-6">
    <div>
      <div class="row">
        <div class="col-sm-6">
          <label for="name">Name:</label>
          <input id="name" class="form-control" [(ngModel)]="func.name">
          <br/>
        </div>
        <div class="col-sm-12">
          <label for="name">Description:</label>
          <textarea class="form-control" [(ngModel)]="func.description"></textarea>
          <br/>
        </div>
        <br/><br/>
      </div>
    </div>
    <label>Rules:</label>
    <app-rules name="rules" [(ngModel)]="func.rules" (onSelectRule)="onSelectRule($event)"></app-rules>
  </div>
  <div class="col-sm-6">
    <accordion>
      <accordion-group heading="Function Definition">
        <ace-editor
          [(text)]="func.function"
          [mode]="'javascript'"
          [options]="options"
          [readOnly]="false"
          [theme]="'github'"
          [autoUpdateContent]="true"
          [durationBeforeCallback]="1000"
          (textChanged)="onChange($event)"
          style="min-height: 430px;max-height: 430px; width:100%; overflow: auto;" #editor></ace-editor>
      </accordion-group>
    </accordion>

  </div>
  <div class="col-sm-12">
    <br /><br />
    <div *ngIf="loadingSaveError" class="alert alert-danger">
      <strong>Saving Error!</strong> Error saving function. Please try again.
    </div>
    <button class="btn btn-success" (click)="save()">
      <span *ngIf="!loadingSave"><span *ngIf="!func.id">Save</span><span *ngIf="func.id">Update</span></span>
              <span *ngIf="loadingSave">
                <img width='20px' height='20px' src="assets/img/balls-3.svg" alt="">
              </span>
    </button>
    <button class="btn btn-default" [routerLink]="['/functions']">Cancel</button>
    <br /><br />
  </div>

  <br /><br /><br />
</div>
