<div *ngIf="loading" style="text-align:center">
  <img src="assets/img/balls-3.svg" alt=""><br />
  Loading Function Into Position
</div>
<div *ngIf="!loading">
  <div class="row">
    <div class="col-sm-12" (click)="functionLarge = false">
      <div class="card panel-default">
        <div class="card-body">
          <div class="row">
            <div tourAnchor="functionname" class="col-sm-4">
              <label for="name">Name:</label>
              <input [disabled]="operation == 'test'" id="name" class="form-control" [(ngModel)]="func.name">
            </div>
            <div class="col-sm-8">
              <label for="name">Description:</label>
              <textarea [disabled]="operation == 'test'" class="form-control" [(ngModel)]="func.description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-selector [rules]="func.rules" (onRun)="onRun($event)" (onLayoutUpdate)="onLayoutUpdate($event)"></app-selector>
  <app-dashboard *ngIf="show" [parameters]="parameters" [func]="testFunc"></app-dashboard><br/>
  <div class="row">
    <div [ngClass]="{'col-sm-6':!functionLarge,'col-sm-3':functionLarge,'blur':functionLarge}" (click)="functionLarge = false">
      <div class="card panel-default">
        <div class="card-body">
          <div>
            <h5 class="card-title">Rules</h5>
          </div>
          <app-rules tourAnchor="rules" name="rules"
                     [operation]="operation"
                     [(ngModel)]="func.rules"
                     (edit)="editRule($event)"
                     (onSelectRule)="onSelectRule($event)"
                     (onNewRule)="createNewRule()">

          </app-rules>
        </div>
      </div>
    </div>
    <div [ngClass]="{'col-sm-6':!functionLarge,'col-sm-9':functionLarge,'blur':!functionLarge}" (click)="functionLarge = true">
      <div class="card panel-default">
        <div class="card-body" *ngIf="!newRule">
          <div>
            <h5 class="card-title">Function Definition</h5>
          </div>
          <!--<ace-editor
            [(text)]="func.function"
            [mode]="'javascript'"
            [options]="options"
            [readOnly]="operation == 'test'"
            [theme]="'github'"
            [autoUpdateContent]="true"
            [durationBeforeCallback]="1000"
            (textChanged)="onChange($event)"
            style="min-height: 430px;max-height: 430px; width:100%; overflow: auto;" #editor></ace-editor>-->
          <ace-editor
            [(text)]="func.function"
            [mode]="'javascript'"
            [options]="options"
            [readOnly]="operation == 'test'"
            [theme]="'eclipse'"
            [autoUpdateContent]="true"
            [durationBeforeCallback]="1000"
            (textChanged)="onChange($event)" #editor></ace-editor>
        </div>
      </div>
      <div class="card-body" *ngIf="newRule">
        <div>
          <h5 class="card-title">Create Rule</h5>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label for="rulename">Name:</label>
            <input id="rulename" class="form-control" [(ngModel)]="newRule.name"><br/>
            <!--<app-message *ngIf="errors.name" [type]="errors.name.type" [messageObject]="errors.name.object">
            </app-message>-->
          </div>
          <div class="col-sm-12">
            <label for="name">Description:</label>
            <textarea class="form-control" [(ngModel)]="newRule.description"></textarea>
            <br/>
          </div>
          <div class="col-sm-12">
            <ng-template #popTemplate>
              <div class="card text-white bg-primary mb-3" style="min-width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Java Script Object Notation (JSON)</h5>
                  <p  ng-non-bindable class="card-text">This is the json which will be used in the code as a data input.<br />
                    Example:<br />{{ {"data":"OxYgdYZaBwS"} | json}}
                  </p>
                </div>
              </div>
            </ng-template>
            <label for="name">JSON <i class="fa fa-info-circle" containerClass="tooltip-class" placement="right" [popover]="popTemplate"></i></label>
            <ace-editor
              [(text)]="newRule.json"
              [mode]="'javascript'"
              [options]="options"
              [readOnly]="false"
              [autoUpdateContent]="true"
              [durationBeforeCallback]="1000"
              (textChanged)="onChange($event)"
              style="min-height: 200px; width:100%; overflow: auto;" #editor></ace-editor>
            <br/>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-default pull-right" (click)="newRule = undefined">
              <span *ngIf="!savingRule && newRule.id">Cancel</span>
              <span *ngIf="savingRule">
            <img width='20px' height='20px' src="assets/img/balls-3.svg" alt="">
              </span>
            </button>
            <button class="btn btn-primary pull-right" (click)="saveRule()">
              <span *ngIf="!savingRule && !newRule.id">Add</span><span *ngIf="!savingRule && newRule.id">Done</span>
              <span *ngIf="savingRule">
            <img width='20px' height='20px' src="assets/img/balls-3.svg" alt="">
              </span>
            </button>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="operation != 'test'" class="col-sm-12">
    <br /><br />
    <div *ngIf="loadingSaveError" class="alert alert-danger">
      <strong>Saving Error!</strong> Error saving function. Please try again.
    </div>
    <button class="btn btn-success" (click)="save(false)">
      <span *ngIf="!loadingSave"><span *ngIf="!func.id">Save</span><span *ngIf="func.id">Update</span></span>
              <span *ngIf="loadingSave">
                <img width='20px' height='20px' src="assets/img/balls-3.svg" alt="">
              </span>
    </button>
    <button class="btn btn-success" (click)="save(true)">
      <span *ngIf="!loadingSave"><span *ngIf="!func.id">Save</span><span *ngIf="func.id">Update and Back</span></span>
      <span *ngIf="loadingSave">
                <img width='20px' height='20px' src="assets/img/balls-3.svg" alt="">
              </span>
    </button>
    <button class="btn btn-default" [routerLink]="['/functions']">Cancel</button>
    <br /><br />
  </div>

  <br /><br /><br />
</div>
