<div *ngIf="!(functions && user)" style="text-align: center;">
  <img src="assets/img/balls-3.svg" alt="">
  <h4 style="margin-top: 50px;">Loading Functions</h4>
</div>
<div *ngIf="functions && user" class="row">
  <div class="col-sm-8">
    <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search"/>
  </div>
  <div class="col-sm-4">
    <button [routerLink]="['/functions','new']" tourAnchor="createid" class="btn btn-primary btn-sm pull-right">Add
      New
    </button>
  </div>
</div>
<div *ngIf="errorResults">
  <div>
    <app-message [type]="'danger'"
                 [messageObject]="errorResults">
    </app-message>
  </div>
</div>
<div class="row">
  <div [ngClass]="{'col-sm-12':!(details || sharing),'col-sm-8':details || sharing}">
    <table *ngIf="functions && user && !deleting" class="table table-hover table-sm"
           [mfData]="functions | hasFunctionAccess:user | dataFilter : filterQuery:'name'" #mf="mfDataTable"
           [mfRowsOnPage]="5">
      <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          <mfDefaultSorter by="name">Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="rules.length">Rules</mfDefaultSorter>
        </th>
        <th>

          <mfDefaultSorter by="function.length">Characters</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="created">Created</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="lastUpdated">Last Updated</mfDefaultSorter>
        </th>
        <th>
        </th>
      </tr>
      </thead>
      <tbody *ngFor="let function of mf.data;let i = index" (click)="details = function;sharing = undefined" style="cursor:pointer"
             [contextMenu]="contextMenu"
             (contextmenu)="onContextMenu($event, function)"
             >
      <tr *ngIf="deleteItem != function" [ngClass]="{'selected':details == function || sharing == function}">

        <td>{{((mf.activePage - 1) * mf.rowsOnPage)+ i + 1}}</td>
        <td>{{function.name}}</td>
        <td>{{function.rules.length}}</td>
        <td>{{function.function.length}}</td>
        <td>{{function.created | amTimeAgo}}</td>
        <td>{{function.lastUpdated | amTimeAgo}}</td>
        <td (click)="onContextMenu($event, function)"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></td>
      </tr>
      <tr *ngIf="deleteItem == function">
        <td colspan="100%" align="center">
          <div *ngIf="!deletingMap[function.id]">
            Are you sure you want to delete '{{function.name}}'?
          <button (click)="delete(deleteItem)" class="btn btn-danger">Delete</button>
          <button (click)="deleteItem = -1" class="btn btn-success">Cancel</button>
          </div>
          <div *ngIf="deletingMap[function.id]">
            <img src="assets/img/balls-3.svg" height="60px" alt="">
            Deleting {{function.name}}...
          </div>
        </td>
      </tr>
      </tbody>
      <tbody>
      <tr *ngIf="mf.data.length == 0">
        <td colspan="100%">
          <app-message [type]="'info'"
                       [messageObject]="{'heading':'No function','message':'There is no function registered.'}">
          </app-message>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="100%">
          <div class="row">
            <div class="col-sm-6">Showing {{mf.data.length}} of {{functions.length}}</div><div class="col-sm-6"><mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator></div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
    <context-menu>
      <ng-template contextMenuItem (execute)="navigate($event.item.id)">
        <i class="fa fa-pencil" aria-hidden="true"></i> Edit
      </ng-template>
      <ng-template contextMenuItem (execute)="test($event.item.id)">
        <i class="fa fa-check" aria-hidden="true"></i> Test
      </ng-template>
      <ng-template contextMenuItem (execute)="deleteItem = $event.item">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
      </ng-template>
      <ng-template contextMenuItem (execute)="sharing = $event.item;details = undefined">
        <i class="fa fa-share-alt" aria-hidden="true"></i> Sharing
      </ng-template>
      <ng-template contextMenuItem (execute)="details = $event.item;sharing = undefined">
        <i class="fa fa-info" style="margin-left:4px" aria-hidden="true"></i> Show Details
      </ng-template>
    </context-menu>
  </div>

  <div class="col-sm-4" *ngIf="details">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{details.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">These  are the details</h6>
        <table class="table table-hover table-striped">
          <tr>
            <td>
              Id
            </td>
            <td>
              {{details.id}}
            </td>
          </tr>
          <tr>
            <td>
              Description
            </td>
            <td>
              {{details.description}}
            </td>
          </tr>
          <tr>
            <td>
              Created
            </td>
            <td>
              {{details.created | date:'dd-MM-yyyy'}}
            </td>
          </tr>
          <tr>
            <td>
              Last Updated
            </td>
            <td>
              {{details.lastUpdated | date:'dd-MM-yyyy'}}
            </td>
          </tr>
          <tr>
            <td>
              Default Rule
            </td>
            <td>
              <table>
                <tr><td>id</td><td>{{(details | defaultRule).id}}</td></tr>
                <tr><td>Name</td><td>{{(details | defaultRule).name}}</td></tr>
                <tr><td>Description</td><td>{{(details | defaultRule).description}}</td></tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              {{(details | defaultRule) | json}}
              <app-dashboard [parameters]="{rule:(details | defaultRule),ou:user.organisationUnits[0].id,pe:'201701'}" [func]="details"></app-dashboard>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
  <div class="col-sm-4" *ngIf="sharing">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sharing Settings {{sharing.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">These  are the sharing setting</h6>
        <table class="table table-hover table-bordered">
          <tr>
            <th>
              <input class="form-control" placeholder="Search" [(ngModel)]="searchText"/>
            </th>
          </tr>
          <tr *ngFor="let userGroup of userGroups|search:searchText">
            <td>
              <button [ngClass]="{'btn-primary':sharing | hasAccess:userGroup:['rw------','r-------']}"
                      (click)="setUserGroup(sharing,userGroup,'r-------')" class="btn btn-md">
                <span class="fa fa-eye fa-lg"></span></button>
              <button [ngClass]="{'btn-primary':sharing | hasAccess:userGroup:['rw------']}"
                      (click)="setUserGroup(sharing,userGroup,'rw------')" class="btn btn-md">
                <i class="fa fa-pencil fa-lg"></i></button>
              {{userGroup.displayName}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div #sharingModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>
