<div class="col-sm-8">
  <div style="margin-bottom:15px;padding-top: 15px;">
    <button [routerLink]="['/functions','new']" class="btn btn-default pull-right" style="margin-top:-15px">Create New Function</button>
    <span style="font-size:14px">List of Functions</span></div>

  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th width="30px">#</th>
      <th>Name</th>
      <th>Rules</th>
      <th>Public access</th>
      <th>Last Updated</th>
    </tr>
    </thead>
    <tbody *ngIf="!loading && functions">
    <tr [ngClass]="{pill:details?function.id==details.id:false}" *ngFor="let function of functions;let i = index" (click)="onContextMenu($event, function)" style="cursor:pointer" [contextMenu]="contextMenu" (contextmenu)="onContextMenu($event, function)">

      <td>{{i + 1}}</td>
      <td>{{function.name}}</td>
      <td>{{function.rules.length}}</td>
      <td>Public view/edit</td>
      <td>{{function.lastUpdated | amTimeAgo}}</td>
    </tr>
    </tbody>
    <tbody *ngIf="loading">
    <tr><td colspan="100%" align="center">
      <img src="assets/img/balls-3.svg" alt=""><br />
      Loading Functions..
    </td></tr>
    </tbody>
  </table>
  <context-menu>
    <ng-template contextMenuItem (execute)="navigate($event.item.id)">
      <i class="fa fa-pencil" aria-hidden="true"></i> Edit
    </ng-template>
    <ng-template contextMenuItem (execute)="delete($event.item)">
      <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
    </ng-template>
    <ng-template contextMenuItem (execute)="details = $event.item">
      <i class="fa fa-info" style="margin-left:4px" aria-hidden="true"></i> Show Details
    </ng-template>
  </context-menu>
</div>

<div class="col-sm-4" *ngIf="details">
  <h4>Details for {{details.name}}</h4>
  <table class="table table-hover table-striped">
    <tr>
      <td>
        Uid
      </td>
      <td>
        {{details.id}}
      </td>
    </tr>
    <tr>
      <td>
        Description
      </td>
      <td>
        {{details.description}}
      </td>
    </tr>
  </table>
</div>
