<toaster-container></toaster-container>
<div class="container-fluid">
  <!-- header section -->
  <nav
    class="navbar navbar-light bg-light justify-content-between function-navbar"
  >
    <a class="navbar-brand function-navbar-brand">
      <img src="assets/img/function.png" alt="" />
      <span class="function-navbar-brand-label">Function Maintenance</span></a
    >
  </nav>
  <!-- end of header section -->

  <!-- selection section -->
  <div
    class="row"
    style="margin-bottom: 20px;"
    *ngIf="(functionsLoaded$ | async)"
  >
    <div class="col-6">
      <ngx-dhis2-selection-filters
        (filterUpdate)="onFilterUpdateAction($event)"
        [selectionFilterConfig]="selectionFilterConfig"
        [dataSelections]="currentVisualizationDataSelections$ | async"
        [currentUser]="currentUser$ | async"
      >
      </ngx-dhis2-selection-filters>
    </div>
    <div class="col-6">
      <app-favorite-filter
        [currentUser]="currentUser$ | async"
        (addFavorite)="onAddFavoriteAction($event)"
        (createFavorite)="onCreateFavoriteAction()"
      ></app-favorite-filter>
    </div>
  </div>
  <!-- end of selection section -->

  <!-- function loading section -->
  <div class="row" *ngIf="(loadingFunctions$ | async)">
    <div class="col-12">
      <div class="function-loading-placeholder">
        <div class="text-center">
          <img src="assets/icons/balls-3.svg" alt="" />
          <h4>
            Discovering Functions..
          </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- end of function loading section -->

  <!-- visualization loading -->
  <div
    class="visualization-loading-placeholder"
    *ngIf="
      (currentVisualization$ | async) && (currentVisualization$ | async).loading
    "
  >
    <div class="text-center">
      <img src="assets/icons/balls-3.svg" alt="" />
      <h4>
        Discovering Visualization..
      </h4>
    </div>
  </div>
  <!-- end of visualization loading -->

  <!-- visualization error block -->
  <div
    class="visualization-error-block"
    *ngIf="
      (currentVisualization$ | async) && (currentVisualization$ | async).error
    "
  >
    <visualization-error-notifier
      [errorMessage]="(currentVisualization$ | async).error"
    ></visualization-error-notifier>
  </div>
  <!-- end of visualization error block -->

  <!-- visualization card section -->
  <div class="row">
    <div
      class="col-12"
      *ngIf="
        (currentVisualization$ | async) &&
        (currentVisualization$ | async).layers.length > 0 &&
        !(currentVisualization$ | async).loading
      "
    >
      <ngx-dhis2-visualization
        [visualizationObject]="currentVisualization$ | async"
        [id]="(currentVisualization$ | async)?.id"
        [type]="(currentVisualization$ | async)?.type"
        [visualizationLayers]="(currentVisualization$ | async)?.layers"
        [currentUser]="currentUser$ | async"
        [systemInfo]="systemInfo$ | async"
      ></ngx-dhis2-visualization>
    </div>
  </div>
  <!-- end of visualization card section -->

  <!-- function operation section -->
  <div class="row" style="margin-top: 20px;" *ngIf="(functionsLoaded$ | async)">
    <div [ngStyle]="{ display: loadingSave ? 'none' : 'block' }" class="col-12">
      <app-function-management></app-function-management>
    </div>
    <div [ngStyle]="{ display: loadingSave ? 'block' : 'none' }" class="col-12">
      <img src="assets/img/balls-3.svg" /> Saving...
    </div>
  </div>
  <!-- end of function operations section -->
</div>
