.selected {
  padding: 5px;
  background-color: burlywood;
  display: inline;
}

.function-loading-placeholder,
.visualization-loading-placeholder {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.visualization-loading-placeholder {
  height: 300px;
}

.visualization-error-block {
  height: 250px;
  margin-top: 50px;
}

.function-navbar {
  padding: 3px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.function-navbar-brand {
  display: flex;
  align-items: center;
}

.function-navbar-brand-label {
  font-size: 25px;
  padding-left: 7px;
}

.function-navbar-brand > img {
  height: 35px;
}
