<div *ngIf="!results && !loadingError" style="text-align: center" >
  <img src="assets/img/balls-3.svg" alt=""> <br/>
  {{progress}}%
</div>
<div *ngIf="results" class="card panel-default">
  <div class="card-body">
    <!--<app-layout></app-layout>-->
    <!--<app-dashboard-card [externalAnalytics]="results"
                        [cardData]="prepareCardData()"
                        [externalDimensions]="getCurrentDimension()"
                        [externalLayout]="currentLayout"></app-dashboard-card>-->
    <app-table-item
      [analyticsObject]="results"
      [tableConfiguration]="tableConfiguration"
    >
    </app-table-item>
    <app-chart-item
      [chartConfiguration]="chartConfiguration"
      [analyticsObject]="results"
      [chartHeight]="chartHeight"
    ></app-chart-item>
    </div>

  </div>
<div *ngIf="loadingError" class="alert alert-danger" role="alert">
  {{loadingError.message}}
</div>
