<div *ngIf="!results && !loadingError" style="text-align: center" >
  <img src="assets/img/balls-3.svg" alt=""> <br/>
  {{progress}}%
</div>
<div *ngIf="results && showResult" class="card panel-default">
  <div class="card-body">
    <div class="visualization-card"
    >
      <!--Visualization card header content-->
      <div
        class="visualization-card-header"
      >
        <div class="visualization-card-header-left">
          <div
            class="visualization-filter-section-container"
          >
            <div class="btn-group col-sm-12 pull-left" dropdown style="padding:0px;margin-left: 20px;z-index: 100;">
              <a dropdownToggle class="btn btn-default dashboard-filter-btn">
                <img src="assets/img/layout.png">
                <div style="float: right;margin-top: 4px;">Layout</div>
              </a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-left layout" role="menu">
                <!--<app-layout (onLayoutUpdate)="onLayoutUpdate($event)">

                </app-layout>-->
              </div>
            </div>

          </div>
        </div>
        <div class="visualization-card-header-right">

        </div>
      </div>
      <!--End of Visualization card header content-->

      <div
        class="visualization-card-loading-block"
        *ngIf="!loaded"
      >

      </div>

      <div
        class="visualization-card-body"
      >
        <!--chart block-->
        <div
          class="chart-container"
          *ngIf="currentVisualization === 'CHART'"
        >
          <!--<app-chart-item
            [chartConfiguration]="chartConfiguration"
            [analyticsObject]="results"
            [chartHeight]="chartHeight"
          ></app-chart-item>-->
        </div>
        <!--end of chart block-->

        <!--table block-->
        <div
          class="table-container"
          *ngIf="currentVisualization === 'TABLE'"
        >
          <!--<app-table-item
            [analyticsObject]="results"
            [tableConfiguration]="tableConfiguration"
          >
          </app-table-item>-->
        </div>
        <!--end of table block-->

        <!--map block-->
        <div
          class="map-container"
          *ngIf="currentVisualization === 'MAP'"
        >

        </div>
        <!--end of map-block-->
        <div class="options-block"*ngIf="currentVisualization === 'CHART'">
          <ul class="nav nav-stacked">
            <li *ngFor="let chartType of chartTypes" style="margin-top: 8px;">
              <a title="{{chartType.name}}" (click)="showChart(chartType.text)">
                <img alt="" class="chart-option-icon" src="assets/img/{{chartType.text}}.png">
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div
        class="visualization-card-footer animated fadeInLeft"
      >
        <div
          class="visualization-card-footer-left"
        >
          <div  style="z-index: 100;">
            <ul class="nav nav-pills dashboard-footer-nav">

            <li>
              <a (click)="changeVisualization('TABLE','table')"><i class="fa fa-table"></i></a>
            </li>
            <li>
              <a (click)="changeVisualization('CHART','bar')" class="active-visualisation"><i class="fa fa-line-chart"></i></a>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--<app-layout></app-layout>-->
    <!--<app-dashboard-card [externalAnalytics]="results"
                        [cardData]="prepareCardData()"
                        [externalDimensions]="getCurrentDimension()"
                        [externalLayout]="currentLayout"></app-dashboard-card>-->
    </div>

  </div>
<div *ngIf="loadingError" class="alert alert-danger" role="alert">
  {{loadingError.message}}
</div>
