.visualization-card {
  width: 100%;
  overflow: hidden;
}

.visualization-card-header {
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  z-index: 1000;

}

.visualization-card-header-right,
.visualization-card-header-left {
  float:left
}

.visualization-card-footer {
  /*display: inline-flex;*/
  /*justify-content: space-between;*/
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  z-index: 1000;

}

.visualization-card-footer-right,
.visualization-card-footer-left {
  display: flex;
  margin-left:20px
}

.visualization-filter-section-container {
  margin-right: 5px;
}

.visualization-interpretation-button-container {

}

.visualization-card-body {
  /*min-height: 450px;*/
  overflow: auto;
  padding-bottom: 40px;
}

.chart-container {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.table-container {
  padding-top: 20px;
  overflow: hidden;
}

.map-container {
  overflow: hidden;
}

.dictionary-container {
  padding: 50px 10px 10px 10px;
}
.layout{
  min-width: 400px;
}
.dashboard-filter-btn {
  opacity: 0.8;
  width: 100% !important;
  margin-top: 5px;
  height: 40px !important;
  margin-right: 2px;
  height: 29px;
  padding-left: 8px;
  font-size: 13px;
  border-radius: 23px !important;
  cursor: pointer;
  border: 1px solid #e0ecfc;
  padding-top: 8px;
  padding-right: 8px;
}

.dashboard-filter-btn img {
  height: 25px;
}

.dashboard-filter-btn:hover {
  -webkit-transform: scale(1.02) !important;
  -moz-transform: scale(1.02) !important;
  -o-transform: scale(1.02) !important;
  -ms-transform: scale(1.02) !important;
  transition: all .2s ease-in-out;
  background-color: #e0ecfc;
  opacity: 1;
}
.options-block{
  transition: all .2s ease-in-out;
  position: absolute;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  top: 40px;
  bottom: 0;
  right: 20px;
  width: 40px;
  height: 95%;
  border-style: none;
  background-color: transparent;
}
.chart-option-icon {
  margin: auto;
  height: 18px;
  width: 18px;
}
.options-block ul > li > a {
  cursor: pointer;
  margin-left: 4px;
  margin-top: 5px;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  font-size: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid #e0ecfc;
  border-radius: 15px;
  background-color: transparent;
  margin-bottom: 5px;
}
.options-block ul > li > a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background-color: #e0ecfc;
}
.dashboard-footer-nav > li{
  display:block;
}
.dashboard-footer-nav > li> a{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-size: 18px;
  text-align: center;
  border-radius: 50% !important;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 3px;
  cursor: pointer;
  display: block;
  height: 40px;
  width:40px;
  border:solid 1px #e0ecfc;
  color:#83C2F7;
  background-color: rgba(255, 255, 255, 0.69);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 8px;
}
.dashboard-footer-nav > li> a:hover,
.dashboard-header-nav > li> a:hover{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background-color: #e0ecfc;
}
