<div class="row">
  <div *ngIf="snippets" class="col-sm-12" style="margin-bottom:10px;margin-top:-5px">

    <button [ngClass]="{'btn-primary':isCollapsed[i],'btn-secondary':!isCollapsed[i]}" style="margin-right: 10px;" class="btn btn-sm" *ngFor="let snippet of snippets;let i = index"
            (click)="isCollapsed[i] = !isCollapsed[i];shown(snippet,i)">{{snippet.name}}</button>
    <div *ngFor="let snippet of snippets;let i = index" (collapsed)="collapsed($event,i)"
         (expanded)="expanded($event)"
         [collapse]="!isCollapsed[i]"
         class="card card-block card-header">
      <div id="readonly-editor{{i}}" style="width:100%;height:300px;">
      </div>
      <button class="btn" tooltip="Paste" data-original-title="Italic - Ctrl+I" (click)="setCode(snippet.code,i)">
        <i class="fa fa-paste" aria-hidden="true"></i></button>
      <button class="btn" tooltip="Close" (click)="isCollapsed[i] = false"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
  </div>
  <div *ngIf="editor" class="col-sm-12">
    <div class="btn-toolbar" role="toolbar" style="margin-bottom:10px">
      <!--<div class="btn-group mr-2" role="group">
        <button class="btn" data-original-title="Bold - Ctrl+B"(click)="undo()"><i class="fa fa-folder-open" aria-hidden="true"></i></button>
        <button class="btn" data-original-title="Italic - Ctrl+I" (click)="redo()"><i class="fa fa-save" aria-hidden="true"></i></button>
      </div>-->
      <div class="btn-group mr-2" role="group">
        <button class="btn" tooltip="Copy" data-original-title="Bold - Ctrl+B"(click)="copy()"><i class="fa fa-copy" aria-hidden="true"></i></button>
        <button class="btn" tooltip="Cut" data-original-title="Italic - Ctrl+I" (click)="cut()"><i class="fa fa-cut" aria-hidden="true"></i></button>
        <button class="btn" tooltip="Paste" data-original-title="Italic - Ctrl+I" (click)="paste()"><i class="fa fa-paste" aria-hidden="true"></i></button>
      </div>
      <div class="btn-group mr-2" role="group">
        <button class="btn"  tooltip="Undo" data-original-title="Bold - Ctrl+B"(click)="undo()"><i class="fa fa-undo" aria-hidden="true"></i></button>
        <button class="btn" tooltip="Redo" data-original-title="Italic - Ctrl+I" (click)="redo()"><i class="fa fa-repeat" aria-hidden="true"></i></button>
      </div>
      <div tooltip="Font Size" class="btn-group col-sm-2" dropdown>
        <input type="text" [(ngModel)]="fontSize" (ngModelChange)="setFontSize(fontSize)" class="form-control"
               aria-describedby="btnGroupAddon">
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu" style="height: 200px;overflow-y: scroll;overflow-x: hidden;">
          <li role="menuitem"><a class="dropdown-item" *ngFor="let size of sizes" (click)="setFontSize(size)">{{size}}</a></li>
        </ul>
      </div>
      <div tooltip="Theme" style="margin-right: 10px;" class="btn-group" dropdown>
        <button class="btn" data-original-title="Bold - Ctrl+B" (click)="setTheme(selectedTheme)">{{selectedTheme.name}}</button>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          <span class="caret"></span>
        </button>
        <div *dropdownMenu class="dropdown-menu" role="menu" style="height: 200px;overflow-y: scroll;overflow-x: hidden;">
          <ul *ngFor="let themeGroup of themeGroups" style="list-style: none;padding-left: 0;">
            <h6 class="dropdown-header">{{themeGroup.name}}</h6>
            <li role="menuitem"><a class="dropdown-item" *ngFor="let theme of themeGroup.themes" (click)="setTheme(theme)">{{theme.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="btn-group mr-2" role="group">
        <button class="btn"  tooltip="Fold" data-original-title="Bold - Ctrl+B"(click)="fold()"><i class="fa fa-compress" aria-hidden="true"></i></button>
        <button class="btn" tooltip="Un Fold" data-original-title="Italic - Ctrl+I" (click)="unFold()"><i class="fa fa-expand" aria-hidden="true"></i></button>
      </div>
      <div class="btn-group mr-2" role="group">
        <button class="btn" tooltip="Format" (click)="format()"><i class="fa fa-indent" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div id="editor{{id}}" class="ace-editor" style="height: 400px">

    </div>
  </div>
</div>
