<div class="row">
  <div class="col-sm-6">
    <div class="btn-toolbar" role="toolbar" style="margin-top:10px;margin-bottom:10px">
      <!--<div class="btn-group mr-2" role="group">
        <button class="btn" data-original-title="Bold - Ctrl+B"(click)="undo()"><i class="fa fa-folder-open" aria-hidden="true"></i></button>
        <button class="btn" data-original-title="Italic - Ctrl+I" (click)="redo()"><i class="fa fa-save" aria-hidden="true"></i></button>
      </div>-->
      <div class="btn-group mr-2" role="group">
        <button class="btn" data-original-title="Bold - Ctrl+B"(click)="copy()"><i class="fa fa-copy" aria-hidden="true"></i></button>
        <button class="btn" data-original-title="Italic - Ctrl+I" (click)="cut()"><i class="fa fa-cut" aria-hidden="true"></i></button>
        <button class="btn" data-original-title="Italic - Ctrl+I" (click)="paste()"><i class="fa fa-paste" aria-hidden="true"></i></button>
      </div>
      <div class="btn-group mr-2" role="group">
        <button class="btn" data-original-title="Bold - Ctrl+B"(click)="undo()"><i class="fa fa-undo" aria-hidden="true"></i></button>
        <button class="btn" data-original-title="Italic - Ctrl+I" (click)="redo()"><i class="fa fa-repeat" aria-hidden="true"></i></button>
      </div>
      <div class="btn-group col-sm-2" dropdown>
        <input type="text" [(ngModel)]="fontSize" (ngModelChange)="setFontSize(fontSize)" class="form-control"
               aria-describedby="btnGroupAddon">
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu" style="height: 200px;overflow-y: scroll;overflow-x: hidden;">
          <li role="menuitem"><a class="dropdown-item" *ngFor="let size of sizes" (click)="setFontSize(size)">{{size}}</a></li>
        </ul>
      </div>
      <div class="btn-group col-sm-2" dropdown>
        <button class="btn" data-original-title="Bold - Ctrl+B" (click)="setTheme(selectedTheme)">{{selectedTheme.name}}</button>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          <span class="caret"></span>
        </button>
        <div *dropdownMenu class="dropdown-menu" role="menu" style="height: 200px;overflow-y: scroll;overflow-x: hidden;">
          <ul *ngFor="let themeGroup of themeGroups" style="list-style: none;padding-left: 0;">
            <h6 class="dropdown-header">{{themeGroup.name}}</h6>
            <li role="menuitem"><a class="dropdown-item" *ngFor="let theme of themeGroup.themes" (click)="setTheme(theme)">{{theme.name}}</a></li>
          </ul>
        </div>
      </div>
      <!--<div class="btn-group mr-2" role="group">
        <button [disabled]="this.options.tabSize == 0" class="btn" data-original-title="Bold - Ctrl+B"(click)="indent(-1)"><i class="fa fa-outdent" aria-hidden="true"></i></button>
        <button class="btn" data-original-title="Italic - Ctrl+I" (click)="indent(-1)"><i class="fa fa-indent" aria-hidden="true"></i></button>
      </div>-->
    </div>
  </div>
  <div class="col-sm-12">
    <div id="editor" class="ace-editor">

    </div>
  </div>
</div>
