<div class="col-sm-12">
  <table *ngIf="rules" class="table table-bordered table-hover table-striped">
    <thead>
    <tr><th>Name</th><th>Action</th></tr>
    </thead>
    <tbody *ngFor="let rule of rules;let index = i">
    <tr><td>{{rule.name}}</td><td>
      <button tooltip="View Rule" (click)="viewRule(index)" class="btn btn-primary btn-lg">
        <i class="fa fa-eye" aria-hidden="true"> </i></button>
      <button tooltip="Edit Rule" (click)="editRule(index)" class="btn btn-default btn-lg">
        <i class="fa fa-pencil" aria-hidden="true"> </i></button>
      <button tooltip="Delete Rule" (click)="deleteRule(index)" class="btn btn-danger btn-lg">
        <i class="fa fa-close" aria-hidden="true"> </i></button>
    </td></tr>
    </tbody>
    <tbody>
    <tr *ngIf="rules.length == 0"><td colspan="100%">
      <app-message [type]="'info'" [messageObject]="noRules">
      </app-message>
    </td></tr>
    <tr *ngIf="!newRule"><td colspan="100%">
      <button tooltip="Create New Rule" (click)="addNewRule()" class="btn btn-primary btn-lg pull-right">
        <i class="fa fa-plus" aria-hidden="true"> </i></button>
    </td></tr>
    <tr *ngIf="newRule">
      <td colspan="100%">
        <div class="col-sm-6">
          <label for="name">Name:</label>
          <input id="name" class="form-control" [(ngModel)]="newRule.name"><br />
          <app-message *ngIf="errors.name" [type]="errors.name.type" [messageObject]="errors.name.object">
          </app-message>
        </div>
        <div class="col-sm-12">
          <label for="name">Description:</label>
          <textarea class="form-control" [(ngModel)]="newRule.description"></textarea>
          <br />
        </div>
        <div class="col-sm-12">
          <label for="name">JSON:</label>
          <ace-editor
            [(text)]="newRule.json"
            [mode]="'javascript'"
            [options]="options"
            [readOnly]="false"
            [autoUpdateContent]="true"
            [durationBeforeCallback]="1000"
            style="min-height: 500px; width:100%; overflow: auto;" #editor></ace-editor>
          <textarea class="form-control" [(ngModel)]="newRule.json"></textarea>
          <br />
        </div>
        <div class="col-sm-12">
          <button class="btn btn-primary pull-right" (click)="saveNewRule()">Add</button>
          <br />
        </div>
    </td></tr>
    </tbody>
  </table>
</div>
