<div>
  <table *ngIf="rules" class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th style="width: 150px;">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let rule of rules;let index = i">
    <tr [ngClass]="{'selected-rule':rule.id == selectedRule}">
      <td>{{rule.name}} <span *ngIf="rule.id == selectedRule">- (Selected Rule for testing)</span></td>
      <td>
        <!--<button tooltip="View Rule" (click)="viewRule(index)" class="btn btn-primary btn-sm">
          <i class="fa fa-eye" aria-hidden="true"> </i></button>-->
        <button tooltip="Select Rule For Testing" (click)="selectRule(rule)" class="btn btn-primary btn-sm">
          <i class="fa fa-check" aria-hidden="true"> </i></button>
        <button tooltip="Edit Rule" (click)="editRule(rule)" class="btn btn-default btn-sm">
          <i class="fa fa-pencil" aria-hidden="true"> </i></button>
        <button tooltip="Delete Rule" (click)="deleteRule(index)" class="btn btn-danger btn-sm">
          <i class="fa fa-close" aria-hidden="true"> </i></button>
      </td>
    </tr>
    </tbody>
    <tbody>
    <tr *ngIf="rules.length == 0">
      <td colspan="100%">
        <app-message [type]="'info'" [messageObject]="noRules">
        </app-message>
      </td>
    </tr>
    <tr *ngIf="!newRule">
      <td colspan="100%">
        <button tooltip="Create New Rule" (click)="addNewRule()" class="btn btn-primary btn-sm pull-right">
          <i class="fa fa-plus" aria-hidden="true"> </i></button>
      </td>
    </tr>
    <tr *ngIf="newRule">
      <td colspan="100%">
        <div class="col-sm-6">
          <label for="name">Name:</label>
          <input id="name" class="form-control" [(ngModel)]="newRule.name"><br/>
          <app-message *ngIf="errors.name" [type]="errors.name.type" [messageObject]="errors.name.object">
          </app-message>
        </div>
        <div class="col-sm-12">
          <label for="name">Description:</label>
          <textarea class="form-control" [(ngModel)]="newRule.description"></textarea>
          <br/>
        </div>
        <div class="col-sm-12">
          <ng-template #popTemplate>
            <div class="card text-white bg-primary mb-3" style="min-width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">Java Script Object Notation (JSON)</h5>
                <p  ng-non-bindable class="card-text">This is the json which will be used in the code as a data input.<br />
                  Example:<br />{{ {"data":"OxYgdYZaBwS"} | json}}
                </p>
              </div>
            </div>
          </ng-template>
          <label for="name">JSON <i class="fa fa-info-circle" containerClass="tooltip-class" placement="right" [popover]="popTemplate"></i></label>
          <ace-editor
            [(text)]="newRule.json"
            [mode]="'javascript'"
            [options]="options"
            [readOnly]="false"
            [autoUpdateContent]="true"
            [durationBeforeCallback]="1000"
            (textChanged)="onChange($event)"
            style="min-height: 200px; width:100%; overflow: auto;" #editor></ace-editor>
          <br/>
        </div>
        <div class="col-sm-12">
          <button class="btn btn-primary pull-right" (click)="saveNewRule()"><span *ngIf="!savingRule && !newRule.id">Add</span><span *ngIf="!savingRule && newRule.id">Done</span>
          <span *ngIf="savingRule">
            <img width='20px' height='20px' src="assets/img/balls-3.svg" alt="">
              </span>
          </button>
          <br/>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
