<div class="row">
  <div class="col-sm-4">
    <app-org-unit-filter [showUpdate]="true"
                         [orgunit_model] = "orgunit_settings"
                         (onOrgUnitChange)= "onOrgUnitUpdate($event)"
                         (onOrgUnitUpdate)= "onOrgUnitUpdate($event)"></app-org-unit-filter>
  </div>
  <div class="col-sm-4">
    <app-period-filter
      [showUpdate]="true"

      (onPeriodUpdate) = "onPeriodUpdate($event)"
      (onPeriodChange) = "onPeriodUpdate($event)">
    </app-period-filter>
  </div>
  <div class="col-sm-3">
    <app-rule-selector (onRuleUpdate)="onRuleUpdate($event)" [rules]="rules"></app-rule-selector>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-primary btn-sm pull-right col-md-12" (click)="run()"
            [disabled]="!parameters.rule || !parameters.pe || !parameters.ou">Test
    </button>
  </div>
</div>

