<div class="row">
  <div class="col-sm-4">
    <app-org-unit-filter
      #orgUnitTree
      [showUpdate]="true"
                         [orgunit_model] = "orgunit_settings"
                         (onOrgUnitUpdate)= "onOrgUnitUpdate($event)"></app-org-unit-filter>
  </div>
  <div class="col-sm-4">
    <app-period-filter
      #periodTree
      [showUpdate]="true"

      (onPeriodUpdate) = "onPeriodUpdate($event)">
    </app-period-filter>
  </div>
  <div class="col-sm-3">
    <app-rule-selector (onRuleUpdate)="onRuleUpdate($event)" [rules]="rules"></app-rule-selector>
  </div>
  <div class="col-sm-1">
    <div class="colsm-12">
      <div class="btn-group col-sm-12" dropdown style="padding:0px">
        <button dropdownToggle type="button" class="col-sm-12 btn btn-primary dropdown-toggle">
          Test <span class="caret pull-right"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right test" role="menu">
          <li role="menuitem"><a class="dropdown-item" (click)="run(runOptions.OneOne)">1 Org Unit & 1 Period</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="run(runOptions.OneMany)">1 Org Unit & Multiple Period</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="run(runOptions.ManyOne)">Multiple Org Unit & 1 Period</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="run(runOptions.ManyMany)">Multiple Org Unit & Multiple Period</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

