<div class="row">
  <div class="col-12">
    <div class="form-container" *ngIf="functionRule">
      <div class="form-group">
        <label for="">Name:</label>
        <input
          type="text"
          tabindex="1"
          (change)="onChange($event, 'name')"
          class="form-control"
          [ngModel]="functionRule.name"
        />
      </div>

      <div class="form-group">
        <label for="">Description:</label>
        <textarea
          name=""
          tabindex="2"
          class="form-control"
          id=""
          cols="30"
          rows="2"
          (change)="onChange($event, 'description')"
          [ngModel]="functionRule.description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="">JSON:</label>
        <editor
          *ngIf="showEditor"
          tabindex="3"
          [mode]="'javascript'"
          [code]="functionRule.json"
          [readonly]="operation == 'test'"
          [snippets]="snippets"
          (onCodeUpdate)="onRuleCodeEdited($event)"
        ></editor>
      </div>

      <!-- function buttons -->
      <div class="row">
        <div class="col-2">
          <!-- deleting button -->
          <button
            *ngIf="!deleteFuntion"
            class="btn btn-danger"
            (click)="deleteFuntion = true"
            [disabled]="functionRule.deleting"
          >
            <i class="fa fa-trash"></i>
            {{ functionRule.deleting ? 'Deleting...' : 'Delete' }}
          </button>
          <!-- end of deleting button -->
          <!-- delete confirmation block -->
          <ng-container *ngIf="deleteFuntion">
            Are you sure you want to delete?
            <button class="btn btn-default" (click)="deleteFuntion = false">
              No
            </button>
            <button class="btn btn-danger" (click)="onDelete($event)">
              Yes
            </button>
          </ng-container>
          <!-- end of delete confirmation block -->
        </div>
        <div class="col-10">
          <div class="form-group function-form-buttons">
            <!-- simulating button -->
            <button
              class="btn btn-primary"
              (click)="onSimulate($event)"
              [disabled]="functionObject.simulating"
            >
              <i class="fa fa-eye"></i>
              {{ functionObject.simulating ? 'Simulating...' : 'Simulate' }}
            </button>
            <!-- end of simulatin button -->

            <!-- saving button -->
            <button
              class="btn btn-success"
              (click)="onSave($event)"
              [disabled]="functionRule.saving"
            >
              <i class="fa fa-save"></i>
              {{ functionObject.saving ? 'Saving...' : 'Save' }}
            </button>
            <!-- end of saving button -->
          </div>
        </div>
      </div>
      <!-- end of function buttons -->
    </div>
  </div>
</div>
