<ul class="list-inline" *ngIf="dataOptions.length != 0">
  <li *ngFor="let option of dataOptions" style="padding-right: 0px">
    <a (click)="toggleDataOption(option.prefix)"
       class="btn btn-sm {{option.selected ? 'btn-info' : 'btn-default'}}"
       style="height: 32px; border-radius: 16px;padding: 5px 5px"
       title="Click to see {{option.name}}"
    >
      {{option.name}}
    </a>
  </li>
</ul>
<div appClickOutside (clickOutside)="showGroups = false" [ngClass]="{'hiddenTree': !need_groups}">
  <button class="btn btn-default btn-sm btn-block" (click)="showGroups = !showGroups">
    <span class="pull-left">{{ selectedGroup?.name || 'Select Table'}}</span>
    <span class="pull-right">
      <span class="glyphicon glyphicon-triangle-bottom"></span>
    </span>
  </button>
  <div *ngIf="showGroups" class="panel panel-default" style="margin-top: 4px;position: absolute;z-index: 999;width: 90%">
  <div class="panel-body" style="padding: 5px;">
    <input type="search" class="form-control input-sm" placeholder="Search" style="margin-bottom: 5px;" [(ngModel)]="querystring">
    <ul class="list-unstyled metadata-list  tree-area1">
      <li *ngFor="let item of dataGroups | filterByName:querystring" (click)="setSelectedGroup(item)">{{ item.name }}</li>
    </ul>
  </div>
</div>
</div>
<input type="text" class="form-control input-sm" *ngIf="listItems.length != 0" (focus)="showBody = true" placeholder="Search" style="margin-top: 4px;" [(ngModel)]="listchanges">
<div class="row" style="margin-top:2px;padding-left: 15px; padding-right: 15px;max-height: 170px">
  <table class="table table-bordered" >
    <tbody>
      <tr>
        <th width="50%">
          <ul class="list-inline data-header-list">
            <li>Available( {{(listItems| filterByName:listchanges).length }} )</li>
            <li class="pull-right pointer"><a (click)="selectAllItems()" title="Select all"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </th>
        <th width="50%">
          <ul class="list-inline data-header-list">
            <li class="pull-right">Selected ( {{ selectedItems.length }} )</li>
            <li class="pull-left pointer"><a (click)="deselectAllItems()" title="Remove all selections"><i class="fa fa-angle-double-left"></i></a></li>
          </ul>
        </th>
      </tr>
      <tr>
        <td width="50%" style="height: 90%">
          <ul class="list-unstyled metadata-list scrollable">
            <li *ngIf="listItems.length == 0">Loading...</li>
            <li *ngFor="let item of listItems | filterByName:listchanges | paginate:{id: 'list',itemsPerPage: 100, currentPage: p};trackBy: trackByFn "
                (click)="addSelected(item)"
                [ngClass]="{'hiddenTree': inSelected(item, selectedItems)}"
                title="Click to select item">
              {{ item.name }}
            </li>
            <li *ngIf="(listItems| filterByName:listchanges).length >= 100">
              <pagination-controls id ='list' maxSize="0" (pageChange)="p = $event"></pagination-controls>
            </li>
          </ul>
        </td>
        <td width="50%">
          <ul class="list-unstyled metadata-list scrollable">
            <li *ngFor="let item of selectedItems | paginate:{id: 'selectedlist',itemsPerPage: 100, currentPage: k}"
                (click)="removeSelected(item)"
                style="cursor: move"
                dnd-droppable (onDropSuccess)="transferDataSuccess($event,item)"
                title="click to unselect item"
            >
              <div dnd-draggable [dragEnabled]="true" [dragData]="item"> {{ item.name }} </div>
            </li>
            <li *ngIf="selectedItems.length > 100">
              <pagination-controls id ='selectedlist' maxSize="0" (pageChange)="k = $event"></pagination-controls>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <!--<div class="col-md-6" style="border: solid 1px #eee; height: 100px;">-->
    <!--&lt;!&ndash;<div class="panel panel-default" style="height: 100px;">&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
  <!--<div class="col-md-6" style="border: solid 1px #eee; height: 100px;">-->
    <!--&lt;!&ndash;<div class="panel panel-default" style="height: 100px;">&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
</div>
