<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <app-org-unit-filter (onOrgUnitUpdate)="getOrgUnitValues($event)" [orgunit_model]="orgunit_model" [orgunit_tree_config]="orgunit_tree_config"></app-org-unit-filter>
          </div>
          <div class="col-md-6 col-sm-6">
            <app-period-filter (onPeriodUpdate)="getPeriodValues($event)" [period_tree_config]="period_tree_config"></app-period-filter>
          </div>
          <!--<div class="col-md-2 col-sm-2">-->
            <!--&lt;!&ndash;<a class="btn btn-sm btn-default pull-right"><i class="fa fa-refresh"></i> Update</a>&ndash;&gt;-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
