<div class="card">
  <div class="function-list-title">
    Functions
    <button [disabled]="newLoading" class="btn btn-sm btn-primary float-right" (click)="create()">
      <ng-container *ngIf="!newLoading">
        <i class="fa fa-plus"></i> <span class="new-button" style="margin-left: 10px;"> Add New</span>
      </ng-container>
      <ng-container *ngIf="newLoading">
        <img src="assets/img/balls-3.svg" height="20px"/>
      </ng-container>
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-hover function-list-table">
      <thead>
      <tr><td colspan="100%">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="functionFilter.name" placeholder="Function Name">
        </div>
      </td></tr>
      </thead>
      <tbody>
        <tr *ngFor="let functionObject of functionList | filterBy: functionFilter | orderBy: ['unsave','selected','name']:true:false:order | paginate: { itemsPerPage: pager.pageSize, currentPage: pager.page }" [ngClass]="{'selected-function': functionObject.active}" (click)="onActivate($event, functionObject)">
          <ng-container *ngIf="!functionObject.deleting && deleteFunction !==functionObject.id">
            <td width="80%">
              <div class="function-title" style="font-size: 14px;">
                {{functionObject.name}} <span *ngIf="functionObject.selected" class="badge badge-secondary pull-right">Selected</span>
              </div>
            </td>
            <td width="20%">
              <div class="function-btns">
                <button *ngIf="functionObject.unsaved"
                        [disabled]="functionObject.saving"
                        class="btn btn-sm btn-success"
                        (click)="$event.stopPropagation();onSave(functionObject);">
                  <i *ngIf="!functionObject.saving" class="fa fa-save"></i>
                  <span *ngIf="functionObject.saving">Saving...</span>
                </button>
                <button class="btn btn-sm btn-danger" (click)="$event.stopPropagation();deleteFunction = functionObject.id;"><i class="fa fa-trash"></i></button>
              </div>
            </td>
          </ng-container>
          <ng-container *ngIf="!functionObject.deleting && deleteFunction === functionObject.id">
            <td colspan="2" width="100%">
              Are you sure you want to delete this function({{functionObject.name}})?
              <button class="btn btn-sm btn-default" (click)="$event.stopPropagation();deleteFunction = undefined">No</button>
              <button class="btn btn-sm btn-danger" (click)="$event.stopPropagation();deleteFunctionObject(functionObject)">Yes</button>
            </td>
          </ng-container>
          <ng-container *ngIf="functionObject.deleting">
            <td colspan="2" width="100%">
              <img src="assets/img/balls-3.svg" />
              Deleting {{functionObject.name}}
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <span *ngIf="(functionList | filterBy: functionFilter).length > 0">
              Showing {{(((pager.page?pager.page:1)-1) * pager.pageSize) + 1}} to {{((pager.page?pager.page:1) * pager.pageSize) > (functionList | filterBy: functionFilter).length?(functionList | filterBy: functionFilter).length:((pager.page?pager.page:1)
            * pager.pageSize)}} of {{(functionList | filterBy: functionFilter).length}}
            </span>
    <span style="display: inline-block;margin-left: 15px;">
              <pagination [totalItems]="(functionList | filterBy: functionFilter).length" [(ngModel)]="pager.page" [itemsPerPage]="pager.pageSize" [maxSize]="5" class="pagination-sm"
                          [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"
                          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
              ></pagination>
            </span>
    <div class="btn-group pull-right" dropdown>
      <button type="button" class="btn btn-default btn-sm" disabled>Show</button>
      <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split btn-sm" dropdownToggle>
        <span>{{pager.pageSize}}</span>
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu" aria-labelledby="split-button">
        <li role="menuitem" *ngFor="let selectedPageSize of pageClustering">
          <a class="dropdown-item pull-right" (click)="setPageSize(selectedPageSize.value)">{{selectedPageSize.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
