.function-management-tabs .nav-link {
  cursor: pointer;
  border: none;
  border-radius: 0;
}

.function-management-tabs .nav-link.active {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
