<div class="row">
  <div class="col-12">
    <div class="form-container" *ngIf="functionObject">
      <div class="form-group">
        <label for="">Name:</label>
        <input type="text" class="form-control" [(ngModel)]="functionObject.name">
      </div>

      <div class="form-group">
        <label for="">Description:</label>
        <textarea name="" class="form-control" id="" cols="30" rows="2" [(ngModel)]="functionObject.description"></textarea>
      </div>

      <div class="form-group">
        <label for="">Function Definition:</label>
        <textarea name="" class="form-control" id="" cols="30" rows="10" [(ngModel)]="functionObject.function"></textarea>
      </div>
      <div class="form-group function-form-buttons">
        <button class="btn btn-primary" (click)="onSimulate($event)"><i class="fa fa-eye"></i> Simulate</button>
        <button class="btn btn-success"><i class="fa fa-save"></i> Save</button>
        <button class="btn btn-danger"><i class="fa fa-times"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>