<div class="row">
  <div class="col-12">
    <div class="form-container" *ngIf="functionObject">
      <div class="form-group">
        <label for="">Name:</label>
        <input type="text" class="form-control" [(ngModel)]="functionObject.name">
      </div>

      <div class="form-group">
        <label for="">Description:</label>
        <textarea name="" class="form-control" id="" cols="30" rows="2" [(ngModel)]="functionObject.description"></textarea>
      </div>

      <div class="form-group">
        <label for="">Function Definition</label>
        <editor *ngIf="showEditor" [mode]="'javascript'" [code]="functionObject.function" [readonly]="operation == 'test'" [snippets]="snippets"
          (onCodeUpdate)="onChange($event)"></editor>
      </div>
      <div class="form-group function-form-buttons">
        <button class="btn btn-primary" (click)="onSimulate($event)" [disabled]="functionObject.simulating"><i class="fa fa-eye"></i>
          {{functionObject.simulating ? 'Simulating...' : 'Simulate'}}</button>
        <button class="btn btn-success" (click)="onSave($event)" [disabled]="functionObject.saving">
          <i class="fa fa-save"></i> {{functionObject.saving ? 'Saving...' : 'Save'}}
        </button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
      </div>
    </div>
  </div>
</div>