<div class="container">
  <h1>
    {{title}}
  </h1>
  <div class="row">
    <div class="col-sm-4">
      <ng-select [allowClear]="true"
                 [items]="items"
                 [disabled]="disabled"
                 (data)="refreshValue($event)"
                 (selected)="selected($event)"
                 (removed)="removed($event)"
                 (typed)="typed($event)"
                 placeholder="No Function Selected">
      </ng-select>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" (click)="newFunction()">Create New Function</button>
    </div>
    <br/><br/>
  </div>
  <div class="row">

    <br/><br/>
  </div>
  <div class="row">
    <div>
      <app-selector (onRun)="onRun($event)" (onLayoutUpdate)="onLayoutUpdate($event)"></app-selector>
    </div>
    <br/><br/>
    <accordion class="col-sm-12" [closeOthers]="true">
      <accordion-group heading="Function Definition">
        <div class="row">
          <div class="col-sm-12">
            <div *ngIf="!loading && results" class="alert alert-success" role="alert">
              <div class="row">
                <div class="col-sm-6">
                  <label for="name">Name:</label>
                  <input id="name" class="form-control" [(ngModel)]="selectedFunction.name">
                  <br/>
                </div>
                <div class="col-sm-12">
                  <label for="name">Description:</label>
                  <textarea class="form-control" [(ngModel)]="selectedFunction.description"></textarea>
                  <br/>
                </div>
                <br/><br/>
              </div>
            </div>
          </div>
          <app-rules name="rules" [(ngModel)]="selectedFunction.rules"></app-rules>
          <div class="col-sm-12">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Parameters passed to function</h4>
              <div class="">
                <pre [innerHtml]="parameters | prettyjson:3"></pre>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <ace-editor
              [(text)]="selectedFunction.function"
              [mode]="'javascript'"
              [options]="options"
              [readOnly]="false"
              [autoUpdateContent]="true"
              [durationBeforeCallback]="1000"
              style="min-height: 500px; width:100%; overflow: auto;" #editor></ace-editor>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-primary pull-right" (click)="save()"><span
              *ngIf="!selectedFunction.id">Save</span><span *ngIf="selectedFunction.id">Update</span></button>
            <br/>
          </div>
        </div>
      </accordion-group>
    </accordion>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Results <!--<div class="pull-right"><app-layout [layout]="currentLayout"></app-layout></div>--></div>
        <div class="panel-body">
          <div *ngIf="loading" style="text-align: center;">
            <svg width='120px' height='120px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                 preserveAspectRatio="xMidYMid" class="uil-balls">
              <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
              <g transform="rotate(0 50 50)">
                <circle r="5" cx="30" cy="50">
                  <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite"
                                    dur="0.5s" values="0 0;29.999999999999996 -17.320508075688775" keyTimes="0;1"/>
                  <animate attributeName="fill" dur="0.5s" begin="0s" repeatCount="indefinite" keyTimes="0;1"
                           values="#c5523f;#f2b736"/>
                </circle>
              </g>
              <g transform="rotate(120 50 50)">
                <circle r="5" cx="30" cy="50">
                  <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite"
                                    dur="0.5s" values="0 0;29.999999999999996 -17.320508075688775" keyTimes="0;1"/>
                  <animate attributeName="fill" dur="0.5s" begin="0s" repeatCount="indefinite" keyTimes="0;1"
                           values="#f2b736;#499255"/>
                </circle>
              </g>
              <g transform="rotate(240 50 50)">
                <circle r="5" cx="30" cy="50">
                  <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite"
                                    dur="0.5s" values="0 0;29.999999999999996 -17.320508075688775" keyTimes="0;1"/>
                  <animate attributeName="fill" dur="0.5s" begin="0s" repeatCount="indefinite" keyTimes="0;1"
                           values="#499255;#c5523f"/>
                </circle>
              </g>
            </svg>

            <div *ngIf="progressPercent" style="text-align: center;font-weight:bold">{{progressPercent}} %</div>
          </div>
          <div *ngIf="results && !loading" class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <app-dashboard-card [cardData]="prepareCardData()"
                                    [externalDimensions]="getCurrentDimension()"
                                    [externalLayout]="currentLayout"></app-dashboard-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div *ngIf="successError" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Potential Error!</h4>
        No success callback defined. Please make sure you call the callback on success.
      </div>
      <div *ngIf="errorError" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Potential Error!</h4>
        No error callback defined. Please make sure you call the callback on error.
      </div>
      <div *ngIf="progressError" class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Warning!</h4>
        The progress callback helps to show the user when the function is excecuting. The range is from 0 to 100.
      </div>
      <br/>
      <div *ngIf="!loading && loadingError" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oh snap!</h4>
        {{loadingError |json}}
      </div>
    </div>
  </div>
</div>
