<app-menu></app-menu>
<toaster-container></toaster-container>
<div class="container-fluid space">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <h3>
          {{title}} <button *ngIf="router.url != '/functions'" [routerLink]="['/']" class="btn btn-default pull-right"><i class="fa fa-home"></i> Home</button>
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
