.filter-list {
  max-height: 27px;
  /*padding-bottom: 2px;*/
}

.filter-list > li {
  height: 25px;
}

.filter-btn > a {

}

.filter-list > li > a{
  cursor: pointer;
  padding-top: 2px;
  height: 29px;
}
