.verticaltext {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);

  bottom: 45%;
  position: absolute;
}
.hide-functions,.hide-breif{
  display: none;
}
.show-breif{
  display: block;
}
.vertical-div{
  max-width: 40px !important;
  margin-left: 14px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
