<div *ngIf="!(functions && user)" style="text-align: center;">
  <img src="assets/img/balls-3.svg" alt="">
  <h4 style="margin-top: 50px;">Loading Functions</h4>
</div>
<div *ngIf="functions && user" class="row">
  <div class="col-sm-8">
    <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search"/>
  </div>
  <div class="col-sm-4">
    <button [routerLink]="['/functions','new']" class="btn btn-primary btn-sm pull-right">Add
      New
    </button>
  </div>
</div>
<div *ngIf="errorResults">
  <div>
    <!--<app-message [type]="'danger'"
                 [messageObject]="errorResults">
    </app-message>-->
  </div>
</div>
<div class="row">
  <div [ngClass]="{'col-sm-12':!(details || sharing),'col-sm-8':details || sharing}">
    <table *ngIf="functions && user && !deleting" class="table table-hover table-sm"
           [mfData]="functions" #mf="mfDataTable"
           [mfRowsOnPage]="5">
      <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          <mfDefaultSorter by="name">Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="rules.length">Rules</mfDefaultSorter>
        </th>
        <th>

          <mfDefaultSorter by="function.length">Characters</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="created">Created</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="lastUpdated">Last Updated</mfDefaultSorter>
        </th>
        <th>
        </th>
      </tr>
      </thead>
      <tbody *ngFor="let function of mf.data;let i = index" (click)="details = function;sharing = undefined" style="cursor:pointer"
      >
      <tr *ngIf="deleteItem != function" [ngClass]="{'selected':details == function || sharing == function}" (click)="showFunction(function)">

        <td>{{((mf.activePage - 1) * mf.rowsOnPage)+ i + 1}}</td>
        <td>{{function.name}}</td>
        <td>{{function.rules.length}}</td>
        <td>{{function.function.length}}</td>
        <td>{{function.created | amTimeAgo}}</td>
        <td>{{function.lastUpdated | amTimeAgo}}</td>
      </tr>
      <tr *ngIf="deleteItem == function">
        <td colspan="100%" align="center">
          <div *ngIf="!deletingMap[function.id]">
            Are you sure you want to delete '{{function.name}}'?
            <button (click)="delete(deleteItem)" class="btn btn-danger">Delete</button>
            <button (click)="deleteItem = -1" class="btn btn-success">Cancel</button>
          </div>
          <div *ngIf="deletingMap[function.id]">
            <img src="assets/img/balls-3.svg" height="60px" alt="">
            Deleting {{function.name}}...
          </div>
        </td>
      </tr>
      </tbody>
      <tbody>
      <tr *ngIf="mf.data.length == 0">
        <td colspan="100%">
          <!--<app-message [type]="'info'"
                       [messageObject]="{'heading':'No function','message':'There is no function registered.'}">
          </app-message>-->
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="100%">
          <div class="row">
            <div class="col-sm-6">Showing {{mf.data.length}} of {{functions.length}}</div><div class="col-sm-6"><mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator></div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
