<div class="row">
  <div>
    <div class="col-sm-6" *ngIf="loading">
      <div style="text-align: center;">
        <img src="assets/img/balls-3.svg" alt="">
      </div>
    </div>
    <div *ngIf="!loading" class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Results <div class="pull-right"><app-layout [layout]="currentLayout" (onLayoutUpdate)="onLayoutUpdate($event)"></app-layout></div></div>
        <div class="panel-body">
          <div *ngIf="!results" style="text-align: center;">
            <img src="assets/img/balls-3.svg" alt="">

            <div *ngIf="progressPercent" style="text-align: center;font-weight:bold">{{progressPercent}} %</div>
          </div>
          <div *ngIf="results" class="col-sm-12">
            <div *ngIf="results.headers" class="row">
              <div class="col-sm-12">
                <app-dashboard-card [externalAnalytics]="results"
                                    [cardData]="prepareCardData()"
                                    [externalDimensions]="getCurrentDimension()"
                                    [externalLayout]="currentLayout" [externalAnalytics]="results"></app-dashboard-card>
              </div>
            </div>
            <div *ngIf="!results.headers" class="row">
              <div>
                <div class="alert alert-danger">
                  <strong>Result Error!</strong> Please check the code.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <accordion *ngIf="func" class="col-sm-6" [closeOthers]="true">
      <accordion-group>
        <div accordion-heading>
          Function Definition <button class="btn btn-primary pull-right btn-sm pull-right" (click)="onRun($event)">Run</button>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ace-editor
              [(text)]="func.function"
              [mode]="'javascript'"
              [options]="options"
              [readOnly]="false"
              [theme]="'github'"
              [autoUpdateContent]="true"
              [durationBeforeCallback]="1000"
              (textChanged)="onChange($event)"
              style="min-height: 430px;max-height: 430px; width:100%; overflow: auto;" #editor></ace-editor>
          </div>
          <div class="col-sm-12">
            <br /><br />
            <div *ngIf="loadingSaveError" class="alert alert-danger">
              <strong>Saving Error!</strong> Error saving directive. Please try again.
            </div>
            <button class="btn btn-success pull-right" (click)="save()">
              <span *ngIf="!loadingSave"><span *ngIf="!func.id">Save</span><span *ngIf="func.id">Update</span></span>
              <span *ngIf="loadingSave">
                <img src="assets/img/balls-3.svg" alt="">
              </span>
            </button>
            <br /><br />
          </div>
          <div class="col-sm-12">
            <div *ngIf="!loading && results" class="alert alert-success" role="alert">
              <div class="row">
                <div class="col-sm-6">
                  <label for="name">Name:</label>
                  <input id="name" class="form-control" [(ngModel)]="func.name">
                  <br/>
                </div>
                <div class="col-sm-12">
                  <label for="name">Description:</label>
                  <textarea class="form-control" [(ngModel)]="func.description"></textarea>
                  <br/>
                </div>
                <br/><br/>
              </div>
            </div>
          </div>
          <app-rules name="rules" [(ngModel)]="func.rules"></app-rules>
          <div class="col-sm-12">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Parameters passed to function</h4>
              <div class="">
                <pre [innerHtml]="parameters | prettyjson:3"></pre>
              </div>
            </div>
          </div>

          <br /><br /><br />
        </div>
      </accordion-group>
    </accordion>
    <div class="col-sm-12">
      <div *ngIf="successError" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Potential Error!</h4>
        No success callback defined. Please make sure you call the callback on success.
      </div>
      <div *ngIf="errorError" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Potential Error!</h4>
        No error callback defined. Please make sure you call the callback on error.
      </div>
      <div *ngIf="progressError" class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Warning!</h4>
        The progress callback helps to show the user when the function is excecuting. The range is from 0 to 100.
      </div>
      <br/>
      <div *ngIf="!loading && loadingError" class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oh snap!</h4>
        {{loadingError |json}}
      </div>
    </div>
  </div>
</div>
