/* You can add global styles to this file, and also import other style files */
.t-json-viewer{
  overflow: auto !important;
}
.row {
  margin-bottom: 20px;
}
button{
  cursor: pointer;
}
ul.pagination{
  float:left;
}

ul.pagination.pull-right{
  float:right;
}
tr.selected,tr.selected:hover{
  background-color: #00b3ee !important;
}
#editor,#editor * {
  font-family:monospace !important;
}
.ace_editor, .ace_editor * {
  font-family:monospace !important;
}
tab{
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  min-height:300px
}
.nav-tabs .nav-link.active{
  background-color:white !important;
  opacity:1
}
.nav-tabs .nav-link{
  background-color:#D3D3BD !important;
  opacity:0.5
}
