/* You can add global styles to this file, and also import other style files */
.t-json-viewer{
  overflow: auto !important;
}
.row {
  margin-bottom: 20px;
}
button{
  cursor: pointer;
}
ul.pagination{
  float:left;
}

ul.pagination.pull-right{
  float:right;
}
tr.selected,tr.selected:hover{
  background-color: #00b3ee !important;
}
.dropdown-menu.test{
  margin-right:100px
}
