<div class="period-filter-container">
  <!--period type and year selection block-->
  <div class="period-top-section">
    <div class="period-type-section">
      <select
        [(ngModel)]="selectedPeriodType"
        (change)="updatePeriodType(selectedPeriodType, $event)"
        class="form-control form-control-sm pull-left"
      >
        <option [value]="''" disabled>Select period type</option>
        <option
          *ngFor="let periodType of periodTypes"
          [value]="periodType.value"
          [hidden]="!periodType.shown"
          >{{ periodType.name }}</option
        >
      </select>
    </div>
    <div class="period-year-section">
      <div class="btn-group btn-group-sm">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="pushPeriodBackward($event)"
        >
          Prev Year
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="pushPeriodForward($event)"
          [disabled]="selectedYear === currentYear"
        >
          Next Year
        </button>
      </div>
    </div>
  </div>
  <!--end of period type and year selection block-->

  <!--period available and selected section-->
  <div class="period-header">
    <div class="period-available-header">
      <span>Available ({{ availablePeriods.length }})</span>
      <a (click)="onSelectAllPeriods($event)">&raquo;</a>
    </div>
    <div class="period-selected-header">
      <a (click)="onDeselectAllPeriods($event)">&laquo;</a>
      <span>Selected ({{ selectedPeriods.length }})</span>
    </div>
  </div>
  <!--end of period available and selected section-->

  <!--period body-->
  <div class="period-body">
    <div class="period-available-body">
      <ul class="period-list">
        <li *ngFor="let availablePeriod of availablePeriods">
          <a (click)="onSelectPeriod(availablePeriod, $event)">
            {{ availablePeriod.name }}
          </a>
        </li>
      </ul>
    </div>
    <div class="period-selected-body">
      <ul class="period-list">
        <li *ngFor="let selectedPeriod of selectedPeriods">
          <a (click)="onDeselectPeriod(selectedPeriod, $event)">
            {{ selectedPeriod.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--end of period body-->

  <!--period footer-->
  <div class="period-filter-btns">
    <div>
      <button class="ngx-dhis2-period__btn" (click)="closePeriodFilter($event)">
        CLOSE
      </button>
      <button
        class="ngx-dhis2-period__btn"
        [disabled]="selectedPeriods.length === 0"
        (click)="updatePeriod($event)"
      >
        UPDATE
      </button>
    </div>
  </div>
  <!--end of period footer-->
</div>
